@{
    ViewBag.Title = "ContactUs";
}

<h2>Contact Us</h2>
<p>Lakewood High School is located at 9700 West Eighth Avenue, Lakewood, Colorado 80215. <br />

Chuck Stephen is the director of all the instrumental music ensembles at Lakewood High School.
        He can reached by email at cstephen@jeffco.k12.co.us or by phone at 303.982.0275.
</p>
