<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="IActivitySvc" value="PointAppSite.DataLayerService.ActivitySvcImpl" />
    <add key="IStudentSvc" value="PointAppSite.DataLayerService.StudentSvcImpl" />
    <add key="IAppRoleSvc" value="PointAppSite.DataLayerService.AppRoleSvcImpl" />
    <add key="IMemberSvc" value="PointAppSite.DataLayerService.MemberSvcImpl" />
    <add key="ISessionCalSvc" value="PointAppSite.DataLayerService.SessionCalSvcImpl" />
    <add key="ISessionTypeSvc" value="PointAppSite.DataLayerService.SessionTypeSvcImpl" />
    <add key="IFeeRequestSvc" value="PointAppSite.DataLayerService.FeeRequestSvcImpl" />
    <add key="ISignUpSvc" value="PointAppSite.DataLayerService.SignUpSvcImpl" />
    <add key="IContactSvc" value="PointAppSite.DataLayerService.ContactSvcImpl" />
    <add key="IContactEmailSvc" value="PointAppSite.DataLayerService.ContactEmailSvcImpl" />
  </appSettings>
</configuration>