<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IActivitySvc" value="PointSiteTest.DataLayerService.ActivitySvcImpl"/>
    <add key="IApproleSvc" value="PointSiteTest.DataLayerService.ApproleSvcImpl"/>
    <add key="IContactSvc" value="PointSiteTest.DataLayerService.ContactSvcImpl"/>
    <add key="IContactemailSvc" value="PointSiteTest.DataLayerService.ContactemailSvcImpl"/>
    <add key="IStudentSvc" value="PointSiteTest.DataLayerService.StudentSvcImpl"/>
    <add key="IMemberSvc" value="PointSiteTest.DataLayerService.MemberSvcImpl"/>
    <add key="ISessioncalSvc" value="PointSiteTest.DataLayerService.SessioncalSvcImpl"/>
    <add key="ISessiontypeSvc" value="PointSiteTest.DataLayerService.SessiontypeSvcImpl"/>
    <add key="IFeerequestSvc" value="PointSiteTest.DataLayerService.FeerequestSvcImpl"/>
    <add key="ISignupSvc" value="PointSiteTest.DataLayerService.SignupSvcImpl"/>
  </appSettings>
</configuration>