<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PointAppDBContext" connectionString="metadata=res://*/PointAppDBContainer.csdl|res://*/PointAppDBContainer.ssdl|res://*/PointAppDBContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|PointAppDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IActivitySvc" value="DataLayerService.ActivitySvcImpl"/>
    <add key="IApproleSvc" value="DataLayerService.ApproleSvcImpl"/>
    <add key="IContactSvc" value="DataLayerService.ContactSvcImpl"/>
    <add key="IContactemailSvc" value="DataLayerService.ContactemailSvcImpl"/>
    <add key="IStudentSvc" value="DataLayerService.StudentSvcImpl"/>
    <add key="IMemberSvc" value="DataLayerService.MemberSvcImpl"/>
    <add key="ISessioncalSvc" value="DataLayerService.SessioncalSvcImpl"/>
    <add key="ISessiontypeSvc" value="DataLayerService.SessiontypeSvcImpl"/>
    <add key="IFeerequestSvc" value="DataLayerService.FeerequestSvcImpl"/>
    <add key="ISignupSvc" value="DataLayerService.SignupSvcImpl"/>
    <add key="IProfileSvc" value="DataLayerService.ProfileSvcImpl"/>
    <add key="IFamilySvc" value="DataLayerService.FamilySvcImpl"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>