@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<p>Welcome to LPAC Point Tracking System</p>

<p>To access to the application, there are two interfaces: adminitrator and members.  To login to the administrator, 
    the username is adminuser and password is "adminuser".  If you want to login to member interface, you can register your own
    account or using existing account like parentuser1 and studentuser1 with password is "newpass".
</p>