@model DataLayer.activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actname)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.activityid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
