@{
    ViewBag.Title = "AdminWelcome";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Welcome</h2>

<p>Administrator will have authorize to all the database pages.  He/she has the right to delete.
      Member don't have right to delete.
</p>