@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>Welcome to member page</h2>

<p>This page is display only member access.  Member can only create their own profile 
    such as their contact information.  If member is a parent, he/she can add their own 
    dependent.  Once they add their own dependent, they have to choose their own family 
    name.  The family name is an unique name for a family.  Other family cannot reuse it.
</p>