@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <p>Please contact Chuck Stephen is the director of all the instrumental music ensembles at Lakewood High School. 
        He can reached by email at cstephen@jeffco.k12.co.us or by phone at 303.982.0275.</p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        9700 West Eighth Avenue <br />
        Lakewood, Colorado 80215
    </p>
</section>