@{
    ViewBag.Title = "Welcome to LPAC Website";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to LPAC point tracking system.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Member", "Student", "Student")</h5>
        This add student is monitor by administrator.  The administrator will have right to 
        add/update/delete student record.
    </li>

    <li class="two">
        <h5>Register</h5>
        The only parent and student who are existing in student list would be able to
        register.  Because application is only open for one high school.
    </li>

    <li class="three">
        <h5>Add contact information</h5>
        If the parent or student are be able to register.  They will have right to 
        add their contact information and multiple email.
    </li>
    <li class="four">
        <h5>Even calendar</h5>
        The members are able to view event calendar and signup for volunteer.
    </li>
    <li class="five">
        <h5>Sign up volunteer</h5>
        Members can sign up for volunteer.
    </li>
    <li class="eight">
        <h5>Member summary</h5>
        Members can view their summary volunteer hour or point.
    </li>
    <li class="seven">
        <h5>Find Web Hosting</h5>
        Members can ask to deduction their fee out from point.  
        This function is based on family.
    </li>
</ol>
